body {
    background-color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-width: 350px;
}

.header__bar {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__text {
    margin-top: -10px;
}

.header__basket {
    background-color: black;
    border: none;
    width: 40px;
    margin-right: 1.2rem;
}

.header__info {
    width: 100%;
    background-color: rgb(228, 228, 228);
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.main__display {
    display: flex;
}

.footer__info {
    width: 100%;
    background-color: rgb(228, 228, 228);
    padding: 1rem;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    margin-bottom: -20px;
    padding-bottom: 0;
}

h2 {
    color: white;
    font-family: 'Bungee', cursive;
    font-size: 1.3rem;
    margin-bottom: -10px;
}

h3 {
    color: black;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 400;
}

.hakkeyoi {
    color: red;
    font-family:'M PLUS 1p', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
}

.footer__info .hakkeyoi {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 0;
}

.footer__pro {
    font-weight: 600;
    font-size: 1.2rem;
}

#shopping__basket {
    width: 100% ;
}




#tester {
    width: 100%;
}